<template>
  <BaseSectionWrapper id="guideSection" class="wrapperSection" :shown="false">
    <section>
      <h1>Descarrega't gratuïtament la guia!</h1>
      <article class="container">
        <img src="~/assets/img/Baurta_Guia_Mockup.png" alt="" />
        <div>
          <p>
            La proposta d'aquesta guia sorgeix en el marc dels Projectes
            Singulars entre diferents entitats vinculades a l'ESS i amb
            experiència prèvia en el context d'habitat ge cooperatiu i/o
            l'entorn rural. Aquest grup d'inter cooperació està format per un
            grup de persones amb coneixement i experiència en diferents
            disciplines que treballen entorn la promoció de l'habitatge
            cooperatiu i la recuperació del territori. Aquesta guia vol situar a
            grups i comunitats que volen desenvolupar un projecte d'habitatge al
            món rural i amb vinculació al territori i amb voluntat de fer
            difusió del model en el context rural.
          </p>
          <p>
            Les entitats que formen part d'aquest equip són: 
            <a href="Coop de mà SCCL" target="_blank">Coop de mà SCCL</a>,
            <a target="_blank" href="https://voltes.coop/">Voltes Cooperativa d'Arquitectura SCCL</a>,
            <a target="_blank" href="https://www.esberla.cat/">L'Esberla SCCL</a>, 
            <a target="_blank" href="https://www.masiesxviure.cat">Masies x Viure</a>, 
            <a target="_blank" href="https://sostrecivic.coop/">Sostre Cívic SCCL</a>
             i 
             <a target="_blank" href="https://dipcoop.org/">Dip. Disseny Integral de Projectes, SCCL</a>.
          </p>
          <BaseGuideBtn />
        </div>
      </article>
    </section>
  </BaseSectionWrapper>
</template>

<script>
export default {
  name: 'GuideSection'
}
</script>

<style lang="sass" scoped>
a
  font-weight: bold
  color: var(--red)
.wrapperSection
  background-image: #fff
  padding-bottom: 100px
  section
    width: 90vw
    margin: auto
    text-align: justify
    color: #fff
    @media screen and (min-width: 768px)
      width: calc( 60vw * 0.75 )

    h1
      font-size: 1.6rem
      width: auto
      text-align: left
      font-weight: 700
      color: var(--red)

    .container
      font-size: 1rem
      text-align: justify
      color: #000
      @media screen and (min-width: 768px)
      img
        width: 100%

        @media screen and (min-width: 768px)
          width: 300px
          float: left
          margin-right: 1.5em
</style>
