<template>
  <BaseSectionWrapper id="home" class="wrapperSection" :shown="false">
    <section>
      <h1 class="fadeInUp">Habitem Cooperativament els mons rurals</h1>
      <article class="container">
        <p>
          Amb aquesta guia volem presentar-vos aquells aspectes d’un projecte
          d’habitatge co- operatiu al món rural que cal tenir en compte i
          recollir quines poden ser les dificultats o camins a descobrir durant
          el procés. Des de la cohesió del grup, la recerca del lloc, el disseny
          arquitectònic, l’economia i la relació amb el territori us convidem a
          crear la vostra pròpia ruta per iniciar aquest procés. Alguns
          d’aquests aspectes són bàsics i comuns a diversos territoris. Però
          donat que altres es diferencien, com per exemple les lleis
          urbanístiques, hem centrat aquesta guia en el context del territori
          rural de Catalunya.
        </p>
      </article>
      <BaseGuideBtn />
    </section>
  </BaseSectionWrapper>
</template>

<script>
export default {
  name: 'HomeSection'
}
</script>

<style lang="sass" scoped>
.wrapperSection
  height: 100vh
  background-image: url(~/assets/img/baurta-background-home.jpg)
  section
    width: 90vw
    margin: auto
    text-align: justify
    color: #fff
    @media screen and (min-width: 768px)
      // grid-template-columns: 1fr 1fr
      width: calc( 60vw * 0.75 )
    h1
      font-size: 1.6rem
      width: auto
      text-align: left
      font-weight: 700
      .container
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 1rem
        font-size: 0.8rem
        color: #fff
        // max-width: vw
        padding-left: 5vw
        text-align: justify
        align-self: auto

      img
        width: 50px
        color: #fff
        margin: 20px auto
</style>
