<template>
  <nav id="navBar" :class="{ dark: isDark }">
    <BaseBaurtaLogo class="  logo" />
    <!--   <img
      class="logo"
      src="~/assets/logos/logo-baurta-blanc-guia-habitatge-cooperatiu-rural.svg"
      alt="Logo Baürta"
    /> -->
    <!-- <ul>
      <li><a href="#">Inici</a></li>
      <li><a href="#">Qui som</a></li>
      <li><a href="#">Serveis</a></li>
      <li><a href="#">Actualitat</a></li>
      <li><a href="#">Projectes</a></li>
    </ul> -->
    <BaseGuideBtn />
  </nav>
</template>

<script>
export default {
  name: 'NavBar',
  data: () => ({
    scrollPosition: 0
  }),
  computed: {
    isDark () {
      return this?.scrollPosition >= 100
    }
  },
  mounted () {
    window.addEventListener('scroll', this.updateScroll)
  },
  methods: {
    updateScroll () {
      this.scrollPosition = window.scrollY
    }
  }
}
</script>

<style lang="sass" scoped>
nav
  position: fixed
  z-index: 1
  top: 0
  left: 0
  padding: 0 20px
  width: 100%
  display: grid
  grid-template-columns: 1fr
  align-items: center
  justify-items: center
  color: #fff
  transition: all 0.3s

  @media screen and (min-width: 768px)
    grid-template-columns: 1fr 1fr

  .logo
    height: 70px
    margin: 10px 0
nav.dark
  background: rgba(255, 255, 255, 0.8)
  border-bottom: 1px solid #e0e0e0
// Uncomment for future links
  // ul
  //   display: grid
  //   grid-auto-flow: column
  //   list-style: none
  //   font-size: 1.1rem
  //   column-gap: 1.8rem
  //   justify-items: center
  //   padding: 0
  //   li
  //     display: revert
  //     a
  //       text-decoration: none
  //       color: rgba(255,255, 255,0.8)
</style>
