<template>
  <BaseSectionWrapper id="quiSom">
    <main class="container">
      <aside>
        <h2>Qui som</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
          magni enim rerum repudiandae exercitationem doloribus numquam. Ipsa
          nam, suscipit consectetur libero error dignissimos, dolorum magnam
          maiores sequi ex, architecto eum.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, iure.
          Enim nulla porro velit pariatur repudiandae eius error ad consequuntur
          vel voluptate cumque fugiat omnis eum corporis magni, tempora quia.
        </p>
        <button>Consulta els nostres serveis</button>
      </aside>

      <main>
        <figure>
          <img
            src="https://lorem.cat/50x50"
            alt="The head and torso of a dinosaur skeleton;
            it has a large head with long sharp teeth"
            width="200"
            height="200"
          />

          <figcaption>
            A T-Rex on display in the Manchester University Museum.
          </figcaption>
        </figure>
      </main>
    </main>
  </BaseSectionWrapper>
</template>

<script>
export default {
  name: 'QuiSomSection'
}
</script>

<style lang="sass" scoped>
#quiSom
  background: #fff

  .container
    width: 85vw
    display: grid
    grid-template-columns: 2fr 1fr
    margin: 0 auto
    background: green
    @media screen and (min-width: 992px)
      width: 70vw
</style>
