<template>
  <section id="serveis" class="wrapperSection">
    <main class="container">
      <aside>
        <h2>
          Fem possible el teu projecte d'habitatge cooperatiu al moón rural
        </h2>
        <button>Consulta els nostres serveis</button>
      </aside>
      <main>
        <ul class="services-list">
          <li
            v-for="(service, index) in services"
            :key="index"
            class="service-card"
          >
            <img
              :src="require(`~/assets/icons/icon${index + 1}.png`)"
              class="icon"
            />
            <p class="label">{{ service }}</p>
          </li>
        </ul>
      </main>
    </main>
    <BaseFooterArrow />
  </section>
</template>

<script>
export default {
  name: 'ServeisSection',
  data () {
    return {
      services: [
        'Recerca del lloc',
        'Disseny Arquitectònic',
        'Viabilitat',
        'Relació amb el territori',
        'Cohesió de grup',
        'Assessorament jurídic'
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.wrapperSection
  padding-top:100px

#serveis
  display: grid
  justify-items: center
  background-image: url(~/assets/img/baurta-background-services.png)

  .container
    width: 85vw
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

    aside
      padding: 50px 0
      display: flex
      flex-direction: column
      justify-content: space-around
      height: 100%
      font-size: var(--subtitle)
      overflow-wrap: break-word
      color: #fff

      button
        margin: var(--size-lg) 0
        background: var(--red)
        border: #fff
        color: #fff
        font-size: 0.9rem

    .services-list
      padding-left: 0
      width: 100%
      height: auto


      .service-card
        list-style: none
        padding: var(--size-md) 0
        font-size: 1.2rem
        color: #fff
        align-items: center
        display: flex

        .icon
          margin: var(--size-xs)
          height: 4rem
        p
          margin: var(--size-md)


@media screen and (min-width: 992px)
  .container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    width: 70vw!important
    aside
      width: 60%
      align-self: center
      justify-self: center

    .services-list
      align-self: center
      display: grid
      grid-template-columns: 1fr 1fr
      column-gap: 0.5rem
</style>
