<template>
  <BaseSectionWrapper id="footer" :shown="false">
    <img
      class="baurta"
      src="~/assets/logos/logo-Baurta-blanc.svg"
      alt="Logo Baürta"
    />
    <footer>
      <img
        src="~/assets/logos/economia_social_i_solidaria_ess.svg"
        alt="Logo Baürta"
      />
      <img
        src="~/assets/logos/Departament-empresa.png"
        alt="Departament Empresa i Treball de la Generalitat de Catalunya"
      />
      <img
        src="~/assets/logos/Logo-Puta-Espanya.jpg"
        alt="Ministerio de espanyistan"
      />
    </footer>
  </BaseSectionWrapper>
</template>

<style lang="sass" scoped>
#footer
  background: var(--blue)
  width: 100vw
  padding: 100px 0

  footer
    display: grid
    grid-gap: 1rem 1rem
    justify-items: center

    @media screen and (min-width: 768px)
      align-items: center
      grid-template-columns: repeat(3, max(250px))
      margin: 0 auto

    img
      height: auto
      width: 25%
      min-width: 200px

.baurta
  // height: 4rem
  max-width: 350px
  width: 35%
  min-width: 250px
  margin: 1rem auto 1.5rem
</style>
