<template>
  <!-- <a href="../../static/Baurta_Guia.pdf"> -->
  <a class="fadeIn" href="/Baurta_Guia.pdf" target="_blank">
    <button>Consulta la Guia</button>
  </a>
</template>

<style lang="sass">
button
  background: var(--red)
  transition: all 0.1s
  cursor: pointer

  &:hover
    box-shadow: 2px 2px 14px 1px #e0e0e0
    transform: scale(1.1)
  &:active
    background: var(--red-light)

#navBar
  button
    display: none
    @media screen and (min-width: 768px)
      display: block
      cursor: pointer
</style>
