<template>
  <section class="wrapperSection">
    <slot></slot>

    <BaseFooterArrow v-if="shown" />
  </section>
</template>

<script>
export default {
  name: 'SectionWrapper',
  props: {
    shown: {
      type: Boolean,
      default: true
    }
  }
}
</script>
<style lang="sass" scoped>
.wrapperSection
  padding-top:100px
</style>
