@import url('normalize.css')

@font-face
  font-family: 'RobotoSlab'
  src: url('~assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype')

:root
  --red: #F16436
  --red-light: #f16536c0
  --blue: #121F31

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29)
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12)
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65)
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48)

  --footer-arrow-height: 5rem

  --size-xs: 0.3rem
  --size-sm: 0.5rem
  --size-md: 1rem
  --size-lg: 1.2rem
  --size-xl: 1.7rem
  --size-xxl: 2.5rem

  --title: var(--size-xl)
  --subtitle: var(--size-lg)

  --transition: all 2.2s

  --color-border: var(--vt-c-divider-dark-2)
  --color-border-hover: var(--vt-c-divider-dark-1)
  --border: 1px solid var(--color-border)
  --border-width: 1px

  --transition: 250ms ease-in-out

  @keyframes shake
    10%, 90%
      transform: translate3d(0, -1px, 0)

    20%, 80%
      transform: translate3d(0, 2px, 0)

    30%, 50%, 70%
      transform: translate3d(0, -3px, 0)

    40%, 60%
      transform: translate3d(0, 3px, 0)

  @keyframes fadeInUp
    from
      opacity: 0
      transform: translate3d(0, 100%, 0)

    to
      opacity: 1
      transform: translate3d(0, 0, 0)

  *,
  *::before,
  *::after
    box-sizing: border-box
    position: relative
    font-weight: normal
    text-decoration: none
    font-family: 'RobotoSlab', sans-serif

/****************************
/** Base Componenets
/****************************
button
  border: none
  // background: var(--red)
  color: #fff
  border-radius: 15px
  padding: 7px 20px
  margin-top: var(--size-lg)
  cursor: pointer

/****************************
/** General Classes
/****************************

.wrapperSection
  display: grid
  align-items: end
  background-size: cover
  padding: 30px 20px 0px

.fadeIn
  animation: fadeIn 0.5s

.fadeInUp
  animation: fadeInUp 0.5s
