<template>
  <main>
    <NavBar />
    <HomeSection />
    <GuideSection />
    <!-- <ServeisSection /> -->
    <!-- <QuiSomSection /> -->
    <BaseFooterMain />
  </main>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
